<div class="container">
    <button id="quit-button" class="navigation" mat-raised-button color="primary" (click)="leaveGame()">
        <mat-icon id="leave-icon">exit_to_app</mat-icon> Quitter
    </button>
    <p id="startTimer" *ngIf="isQuestionTransition">{{ transitionMessage }} dans {{ transitionCount }} secondes!</p>
    <div id="top-page">
        <app-progress-bar *ngIf="!showResults"></app-progress-bar>
        <div class="question-container" *ngIf="!showResults">
            <div id="question">{{ currentQuestion }} (+{{ currentQuestionScore }} points)</div>
            <div id="pointage" *ngIf="!isOrganizer">Score: {{ score }}</div>
        </div>
        <div id="buttons">
            <app-button-response *ngIf="!showResults" (updateQuestionScore)="onUpdateQuestionScore($event)"></app-button-response>
        </div>
    </div>
    <div>
        <div>
            <app-histogram *ngIf="isOrganizer && !showResults" [data]="histogramData"></app-histogram>
        </div>
        <div>
            <app-player-list *ngIf="isOrganizer && !showResults"></app-player-list>
        </div>
        <div>
            <app-chat-box></app-chat-box>
        </div>
        <div><app-end-result *ngIf="showResults"></app-end-result></div>
    </div>
</div>
