.list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.text-wrapper {
    width: 250px; 
    display: inline-flex;
    justify-content: flex-end; 
    padding-right: 10px;
}

.bar {
    height: 20px; 
    background-color: #3498db;
    margin: 5px 0;
}
