<div class="container">
    <app-header title="Salle d'attente"></app-header>
    <app-name-definition *ngIf="!isNameDefined"></app-name-definition>

    <div *ngIf="isNameDefined">
        <div>
            <p>{{ pin }}</p>
            <p *ngIf="isOrganizer">Vous êtes l'organisateur de la partie!</p>
            <p>Partagez le code pour inviter vos amis!</p>
        </div>
        
        <table>
            <tr>
                <th>Liste de joueurs</th>
            </tr>
            <tr *ngFor="let player of players">
                <td>
                    {{ player.name }}
                    <span *ngIf="player.name === playerName">(vous)</span>
                    <button *ngIf="isOrganizer && player.name !== 'Organisateur'" (click)="banPlayer(player)">
                        Exclure
                    </button>
                </td>
            </tr>
        </table>

        <div *ngIf="isOrganizer" id="nav">
            <button mat-raised-button color="primary" (click)="toggleLobbyLock()">
                {{ isLocked ? 'Déverrouiller la salle' : 'Verrouiller la salle' }}
            </button>
            <button mat-raised-button color="primary" *ngIf="isOrganizer" [disabled]="isLocked">Start Game</button>
        </div>
    </div>
</div>
