<div class="container">
    <app-header title="Salle d'attente"></app-header>
    <app-name-definition *ngIf="!isNameDefined"></app-name-definition>

    <div *ngIf="isNameDefined">
        <div class="room-pin">
            {{ pin }}
        </div>

        <div class="player-list">
            <ul>
                <div class="list-title">Liste joueurs</div>
                <div class="nom">
                    <li class="player" *ngFor="let player of players">
                        <button class="exclude-button" *ngIf="player.name !== 'Organisateur' && isOrganizer" (click)="banPlayer(player)">
                            Exclure
                        </button>
                        {{ player.name }}
                        <span *ngIf="player.name === playerName">(vous)</span>
                    </li>
                </div>
            </ul>
        </div>

        <div *ngIf="isOrganizer" id="nav">
            <button mat-raised-button color="primary" (click)="toggleLobbyLock()">
                {{ isLocked ? 'Déverrouiller la salle' : 'Verrouiller la salle' }}
            </button>
            <button mat-raised-button color="primary" *ngIf="isOrganizer" [disabled]="!isLocked" (click)="startGameEmit()">Start Game</button>
        </div>
    </div>
</div>
