
.container {
    min-height: 100vh;
    height: auto;
    background-image: url(../../../assets/dark-theater-stage.jpg);
    background-size: cover;
}

p, tr {
    color: white;
}

p {
    text-align: center;
}

#nav {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    bottom: 12%;
}

#nav button {
    text-align: center;
    font-size: 18px;
    border-radius: 30px;
    border: 5px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    width: 20%;
    padding: 2% 1%;
}

#nav button:disabled {
    border: 5px solid gray;
    background-color: silver;
    color: gray;
    pointer-events: none;
    cursor: default;
}

#nav button:hover {
    transform: scale(0.95);
    background-color: #0f0a36;
}