<div class="container justified">
    <!-- h1 class="header-item">{{ title }}</h1 -->
    <img src="../../../assets/white_transparent.png" alt="Logo Projet" class="logo" />
    <section id="server-message" class="justified">
        <div class="justified">
            <button mat-raised-button color="primary" class="button" (click)="getMessagesFromServer()" disabled>Joindre une partie</button>
            <button mat-raised-button color="primary" class="button" (click)="sendTimeToServer()">Créer une partie</button>
            <button mat-raised-button color="primary" class="button" routerLink="/admin">Administrer les jeux</button>
        </div>
    </section>

    <!--button class="button" routerLink="/game">Jouer!</button -->

    <footer class="footer-item">
        <h4 class="team-name">Équipe 106</h4>
        <p>
            <span>Sofiane Mouici, </span> <span>Noah Namoko, </span> <span>Ralph El Khoury, </span> <span>Ho Xuan Steven Phuong, </span>
            <span>Eugène Vachon</span>
        </p>
    </footer>
</div>
