<div class="container">
    <app-header title="Salle d'attente"></app-header>

    <form id="name" [formGroup]="nameForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field>
                <mat-label>Nom de joueur</mat-label>
                <input formControlName="name" matInput placeholder="Nom" maxlength="50" autofocus>
                <p class="error" *ngIf="nameIsInvalid">{{serverMessage}}</p>
            </mat-form-field>
            <p id="name-length">{{ nameForm.value.name.length }}/{{ maxNameLength }}</p>
        </div>

        <button type="submit" mat-raised-button color="primary" class="button" [disabled]="nameForm.invalid">Soumettre</button>
    </form>
</div>

