<div class="container">
    <app-header title="Salle d'attente"></app-header>
    <app-name-definition *ngIf="!playerName"></app-name-definition>

    <div *ngIf="playerName">
        <div class="room-pin" [cdkCopyToClipboard]="pin" (click)="notifyClipboardCopy()">
            {{ pin }}
        </div>

        <div class="player-list">
            <ul>
                <div class="list-title">Liste de joueurs</div>
                <div class="nom">
                    <li class="player" *ngFor="let player of players">
                        <button class="exclude-button" *ngIf="player.name !== 'Organisateur' && isOrganizer" (click)="banPlayer(player)">
                            Exclure
                        </button>
                        {{ player.name }}
                        <span *ngIf="player.name === playerName">(vous)</span>
                        <button class="exclude-button" *ngIf="player.name !== 'Organisateur' && isOrganizer" (click)="toggleMute(player)">
                            <span id="lock-text">{{ player.isAbleToChat ? 'Mute' : 'Unmute' }}</span>
                        </button>
                    </li>
                </div>
                <p *ngIf="players.length === 1" id="no-player">Besoin de joueurs</p>
            </ul>
        </div>

        <p id="startTimer" *ngIf="count > 0">La partie commence dans {{ count }} secondes !</p>

        <div *ngIf="isOrganizer" id="nav">
            <button mat-raised-button color="primary" (click)="toggleLobbyLock()" [disabled]="countDownStarted">
                <span id="lock-text">{{ isLocked ? 'Déverrouiller la salle' : 'Verrouiller la salle' }}</span>
                <i *ngIf="!isLocked" class="fa-solid fa-unlock fa-2xl"></i>
                <i *ngIf="isLocked" class="fa-solid fa-lock fa-shake fa-2xl"></i>
            </button>
            <button
                mat-raised-button
                color="primary"
                *ngIf="isOrganizer"
                [disabled]="!isLocked || countDownStarted || players.length === 1"
                (click)="startGameEmit()"
            >
                Start Game
            </button>
        </div>
    </div>
    <app-chat-box *ngIf="playerName"></app-chat-box>
</div>
