<div class="container">
    <app-header [title]="pageTitle"></app-header>

    <div class="center">
        <div id="questions-background">
            <div id="game-name">
                <h4>Nom du jeu</h4>
                <p>Questionnaire sur les dindes</p>
            </div>

            <div cdkDropList id="questions-list" (cdkDropListDropped)="drop($event)">
                <!-- [ngStyle]="setQuestionStyle(question)" ajouter après-->
                <div class="question-box"  *ngFor="let question of questions; index as i" cdkDrag>
                    <div class="left-section">
                        <i class="handle fa-solid fa-bars fa-lg" cdkDragHandle></i>
                        <div class="question-text">{{ i + 1 }}. {{ question.text }}</div>
                    </div>

                    <div class="question-type">{{ question.type }}</div>

                    <div class="right-section">
                        <div class="setting-icon">
                            <i class="fa-solid fa-gear fa-lg"></i>
                        </div>

                        <div class="delete-icon">
                            <i class="fa-solid fa-xmark fa-xl"></i>
                        </div>
                    </div>
                </div>
            </div>

            <button class="question-insertion" mat-raised-button color="primary" (click)="openDialog()">Ajouter une question</button>
        </div>
    </div>

    <div id="nav">
        <button class="navigation" mat-raised-button color="primary" routerLink="/creation">Retourner</button>
        <button class="navigation" mat-raised-button color="primary" routerLink="/creation">Enregistrer</button>
    </div>
</div>
