<div class="container">
    <app-header title="Création d'une partie"></app-header>
    <div class="fields">
        <table>
            <thead>
                <tr>
                    <th>Liste de jeux</th>
                    <th>Détails</th>
                </tr>
            </thead>
            <tr *ngFor="let game of games | async">
                <td>{{ game.name }}</td>
                <td><!-- Deuxième colonne (vide pour le moment) --></td>
            </tr>
            <tbody></tbody>
        </table>
    </div>

    <button class="navigation" mat-raised-button color="primary" routerLink="/home">Retourner</button>
</div>
