<div class="container">
    <h1 class="title">Administration des jeux</h1>
    <div class="fields">
        <table>
            <thead>
                <tr>
                    <th>Modifier</th>
                    <th>Exporter</th>
                    <th>Liste de jeux</th>
                    <th>Date de modification</th>
                    <th>Visibilité</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="logo-container">
                        <a><img src="https://cdn-icons-png.flaticon.com/512/814/814236.png" /></a>
                    </td>
                    <td class="logo-container">
                        <a><img src="https://www.freeiconspng.com/thumbs/export-icon/data-export-icon-0.png" /></a>
                    </td>
                    <td class="nom-jeu">Nom du jeu 1, Le nom du jeu jeu plus récent</td>
                    <td>2023-09-11</td>
                    <td class="logo-container">
                        <a
                            ><img
                                class="toggle-image"
                                src="https://www.freeiconspng.com/thumbs/eye-icon/eyeball-icon-png-eye-icon-1.png"
                                data-alt-src="https://icons.veryicon.com/png/o/photographic/ant-design-official-icon-library/eye-close-1.png"
                        /></a>
                    </td>
                </tr>
                <tr>
                    <td class="logo-container">
                        <a><img src="https://cdn-icons-png.flaticon.com/512/814/814236.png" /></a>
                    </td>
                    <td class="logo-container">
                        <a><img src="https://www.freeiconspng.com/thumbs/export-icon/data-export-icon-0.png" /></a>
                    </td>
                    <td class="nom-jeu">Nom du jeu 2</td>
                    <td>2023-09-10</td>
                    <td class="logo-container">
                        <a
                            ><img
                                class="toggle-image"
                                src="https://www.freeiconspng.com/thumbs/eye-icon/eyeball-icon-png-eye-icon-1.png"
                                data-alt-src="https://icons.veryicon.com/png/o/photographic/ant-design-official-icon-library/eye-close-1.png"
                        /></a>
                    </td>
                </tr>
                <tr>
                    <td class="logo-container">
                        <a><img src="https://cdn-icons-png.flaticon.com/512/814/814236.png" /></a>
                    </td>
                    <td class="logo-container">
                        <a><img src="https://www.freeiconspng.com/thumbs/export-icon/data-export-icon-0.png" /></a>
                    </td>
                    <td class="nom-jeu">Nom du jeu 3, le plus ancien</td>
                    <td>2023-09-09</td>
                    <td class="logo-container">
                        <a
                            ><img
                                class="toggle-image"
                                src="https://www.freeiconspng.com/thumbs/eye-icon/eyeball-icon-png-eye-icon-1.png"
                                data-alt-src="https://icons.veryicon.com/png/o/photographic/ant-design-official-icon-library/eye-close-1.png"
                        /></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button mat-raised-button color="primary" class="adminbutton">Ajouter un nouveau jeu</button>
    <button mat-raised-button color="primary" class="adminbutton">Importer un nouveau jeu</button>
    <br />
    <button mat-raised-button color="primary" class="navigation" routerLink="/home">Retourner</button>
</div>
