.buttons-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(75% - 10px);
    align-items: center;
}

.btn {
    flex-basis: calc(48% - 10px);
    padding: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6%;
    font-size: 90%;
    border-radius: 10px;
    border: 5px solid black;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#button-id {
    font-weight: bold;
    width: 10%;
}

#button-text {
    width: 90%;
}

.validate-btn {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    width: 20%;
    height: 60px;
    font-size: 100%;
    border-radius: 20px;
    border: 5px solid black;
    background-color: #f75c1e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.validate-btn:hover {
    background-color: #f18053;
}

.validate-btn:active {
    background-color: #ff530f;
}

.validate-btn:disabled {
    border: 5px solid gray;
    background-color: silver;
    color: gray;
    pointer-events: none;
}

.buttons-parent:focus {
    outline: none;
}

.btn:hover {
    background-color: #72a8ff;
}

.btn:active {
    background-color: #2478ff;
}

.btn-selected {
    background-color: #4d90fc;
}

.highlight-correct {
    background-color: #aaffaa;
}

.highlight-wrong {
    background-color: #ffaaaa;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

#qrl-input {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 0;
    margin-top: 5%;
    width: 600px;
}

#answer-field {
    width: 600px;
}

#answer-length {
    color: white;
    text-align: right;
    padding: 0;
    margin: 0;
}

textarea {
    resize: none;
}

#controls-container {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}

.controls {
    font-size: 14px;
    width: 250px;
    padding: 4% 0;
}

.controls:hover {
    background-color: rgb(181, 181, 181);
}

.controls:disabled {
    background-color: silver;
    color: gray;
}

#panic-availability {
    position: relative;
    font-size: 12px;
    top: 3px;
}
