<div *ngIf="!isOrganizer">
    <div *ngIf="isQcm" class="buttons-parent" (keydown)="playerEntries($event)" #buttonFocus tabindex="0" autofocus>
        <div class="buttons-container">
            <button
                type="button"
                *ngFor="let button of buttons"
                [ngClass]="{
                    'btn-default': !button.selected,
                    'btn-selected': button.selected,
                    'highlight-correct': button.showCorrectButtons,
                    'highlight-wrong': button.showWrongButtons
                }"
                (click)="onButtonClick(button)"
                class="btn"
                [ngClass]="{ 'highlight-correct': button.showCorrectButtons, 'highlight-wrong': button.showWrongButtons }"
            >
                <span id="button-id">{{ button.id }}</span>
                <div id="button-text">{{ button.text }}</div>
            </button>
        </div>
    </div>

    <div *ngIf="!isQcm" id="qrl-input">
        <mat-form-field id="answer-field">
            <mat-label>Réponse</mat-label>
            <textarea #answerInput matInput (keydown.enter)="answerInput.blur()" [maxlength]="maxQrlAnswerLength" [formControl]="answerForm" rows="5">
            </textarea>
        </mat-form-field>
        <p id="answer-length">{{ answerForm.value.length }}/{{ maxQrlAnswerLength }}</p>
    </div>

    <button type="button" class="validate-btn" (click)="verifyResponsesAndCallUpdate()" [disabled]="submitted || isAnswerEmpty()">Soumettre</button>
</div>
<div *ngIf="isOrganizer">
    <div id="controls-container">
        <button mat-raised-button class="controls" (click)="startNextQuestionCountDown()" [disabled]="!canLoadNextQuestion">
            Charger la prochaine question
        </button>
        <button mat-raised-button class="controls" (click)="pause()" [disabled]="hasQuestionEnded">
            <i *ngIf="!isGamePaused" class="fa-solid fa-pause fa-2xl"></i>
            <i *ngIf="isGamePaused" class="fa-solid fa-play fa-beat-fade fa-2xl"></i>
            {{ pauseMessage }}
        </button>
        <button
            mat-raised-button
            class="controls"
            (click)="panic()"
            [disabled]="!isPanicModeAvailable || isPanicModeEnabled || isGamePaused || hasQuestionEnded"
        >
            <div>
                <i class="fa-solid fa-triangle-exclamation fa-2xl"></i>
                PANIQUER
            </div>
            <div *ngIf="!isPanicModeAvailable" id="panic-availability">Disponible dans {{ remainingCountForPanic }}</div>
        </button>
    </div>
</div>
